$colors: (
  gray: (
    50: #16181a,
    100: #26292b,
    200: #2b2f31,
    300: #313538,
    400: #3a3f42,
    500: #4c5155,
    600: #697177,
    700: #787f85,
    800: #9ba1a6,
    900: #ecedee,
  ),
  blue: (
    50: #eaf0ff,
    100: #bdd1ff,
    200: #9dbaff,
    300: #709bff,
    400: #5487ff,
    500: #2969ff,
    600: #2560e8,
    700: #1d4bb5,
    800: #1359af,
    900: #112c6b,
  ),
  purple: (
    50: #f4ebff,
    100: #ddc2ff,
    200: #cca4ff,
    300: #b57aff,
    400: #a661ff,
    500: #9039ff,
    600: #8334e8,
    700: #6628b5,
    800: #4f1f8c,
    900: #3c186b,
  ),
  green: (
    50: #e7fcf2,
    100: #b5f5d5,
    200: #92f0c1,
    300: #60eaa5,
    400: #41e593,
    500: #11df78,
    600: #0fcb6d,
    700: #0c9e55,
    800: #097b42,
    900: #075e32,
  ),
  orange: (
    50: #fff6e8,
    100: #ffe3b6,
    200: #ffd693,
    300: #ffc362,
    400: #ffb744,
    500: #ffa515,
    600: #e89613,
    700: #b5750f,
    800: #8c5b0c,
    900: #6b4509,
  ),
  red: (
    50: #ffecec,
    100: #ffc3c3,
    200: #ffa6a6,
    300: #ff7e7e,
    400: #ff6565,
    500: #ff3e3e,
    600: #e83838,
    700: #b52c2c,
    800: #8c2222,
    900: #6b1a1a,
  ),
);
