@use '../../../assets/scss/util' as u;
@use '../../../assets/scss/components/mixins/color' as *;
@use '../../../assets/scss/components/mixins/borderRadius' as *;
@use '../../../assets/scss/components/mixins/shape' as *;

.input {
  text-indent: 0.8em;
  height: 48px;
  background-color: hsl(0, 0%, 7%);
  color: #5a5a5a;

  border: none;
  border-radius: var(--darkui-borderRadius-squared);
  &:focus {
    border: none;
  }
  &:focus-visible {
    outline: none;
  }

  @include shape;
  @include borderRadius;
  @include color;
}
